<div class="header">	
<div class="logo" style="height: 26px;"><a href="/"> <%=image_tag "bruichladdich-islay-single-malt-scotch-whisky.png" ,:alt=>"BRUICHLADDICH Islay Single Malt Scotch Whisky" %></a></div>

<div class="top_navigation">
<ul>
<li><a href="/shop/cart"><div class="vmCartModule">     MY BASKET (0)




</div></a></li>
<li><a href="/shop/account">MY ACCOUNT</a></li>
<li><a href="/user/subscribe" title="Subscribe to the Laddie Newsletter">newsletter</a></li>
<li><a title="Search">search</a></li>
<li class="search"> <form action="/search" method="post">
<div class="search">
<input name="searchword" id="mod_search_searchword" maxlength="50" alt="GO" class="inputbox search_field" type="text" size="50" value="enter Keywords" onblur="if(this.value=='') this.value='enter Keywords';" onfocus="if(this.value=='enter Keywords') this.value='';"><button type="submit" value="GO" class="button search_button" onclick="this.form.searchword.focus();">GO</button>	</div>
<input type="hidden" name="task" value="search">
<input type="hidden" name="option" value="com_search">
<!--<input type="hidden" name="Itemid" value="" /> -->
<div style="display:none">
<select name="limit" id="limit" class="inputbox" size="1" onchange="this.form.submit()"><option value="5">5</option><option value="10">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option><option value="30">30</option><option value="50">50</option><option value="100">100</option><option value="0" selected="selected">All</option></select> </div>

</form></li>
</ul>
</div>
<div class="clear"></div>
<div class="main_navigation">
<ul class="menu"><li class="item1"><a href="http://www.bruichladdich.com/progressive/our-philosophy" alt="our-philosophy"><span>Progressive</span></a></li><li class="item2"><a href="http://www.bruichladdich.com/hebridean/real-place-real-people" alt="real-place-real-people"><span>Hebridean</span></a></li><li class="item3"><a href="http://www.bruichladdich.com/distillers/victorian-equipment" alt="victorian-equipment"><span>Distillers</span></a></li><li class="item4"><a href="http://www.bruichladdich.com/the-whisky" alt="thewhisky"><span>The Whisky</span></a></li><li class="item5"><a href="http://www.bruichladdich.com/the-botanist-islay-dry-gin" alt="the-botanist-gin"><span>The Botanist Gin</span></a></li><li class="item6"><a href="http://www.bruichladdich.com/news" alt="news"><span>News</span></a></li><li class="item38"><a href="http://www.bruichladdich.com/library" alt="library"><span>Library</span></a></li><li class="item39"><a href="http://www.bruichladdich.com/blog" alt="blog"><span>Blog</span></a></li><li class="item37"><a href="http://www.bruichladdich.com/webcams" alt="webcams"><span>Webcams</span></a></li><li class="item7"><a href="/shop" alt="shop"><span>Shop</span></a></li></ul> 
</div>


</div>

<div class="clear"></div>
